body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  text-align: center;
}

p {
  color: #757575;
  font-size: 1.25rem;
  line-height: 2;
}

hr {
  border: none;
  border-top: 8px dotted #FFFFFF;
  width: 5%;
}

h1 {
  font-size: 5.63rem;
  font-family: 'Patrick Hand', cursive;
  margin: 50px auto 0 auto;
  color: #FFFFFF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Cardo', serif;
  color: #212121;
}

#white-h2 {
  color: #FFFFFF;
}

h3 {
  font-family: 'Cardo', serif;
  color: #212121;
  font-size: 1.4rem;
}

a {
  color: #B2EBF2;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

.contact-me {
  margin: 40px 0 60px;
  width: 50%;
  margin: auto;
}

.top-container {
  padding: 100px;
  position: relative;
  background-color: #00BCD4;
}

.middle-container {
  background-color: #B2EBF2;
}

.bottom-container {
  background-color: #0097A7;
  padding: 40px;
}

.bottom-cloud {
  position: absolute;
  bottom: 400px;
  left: 400px;
}

.top-cloud {
  position: absolute;
  top: 120px;
  right: 400px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.skills {
  margin-top: 90px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ebook-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 50%;
  margin: 0 auto 90px;
}

.profile-img {
  width: 25%;
  margin: 100px 0 50px;
}

.btn {
  background: #BBDEFB;
  background-image: -webkit-linear-gradient(top, #BBDEFB, #00BCD4);
  background-image: -moz-linear-gradient(top, #BBDEFB, #00BCD4);
  background-image: -ms-linear-gradient(top, #BBDEFB, #00BCD4);
  background-image: -o-linear-gradient(top, #BBDEFB, #00BCD4);
  background-image: linear-gradient(to bottom, #BBDEFB, #00BCD4);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 100;
  padding: 6px;
  box-shadow: 2px 2px 3px 0px #1976D2;
  -webkit-box-shadow: 2px 2px 3px 0px #1976D2;
  -moz-box-shadow: 2px 2px 3px 0px #1976D2;
  border: solid #BBDEFB 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 15px auto 50px;
}

.btn:hover {
  border: solid #BBDEFB 1px;
  background: #00BCD4;
  background-image: -webkit-linear-gradient(top, #00BCD4, #BBDEFB);
  background-image: -moz-linear-gradient(top, #00BCD4, #BBDEFB);
  background-image: -ms-linear-gradient(top, #00BCD4, #BBDEFB);
  background-image: -o-linear-gradient(top, #00BCD4, #BBDEFB);
  background-image: linear-gradient(to bottom, #00BCD4, #BBDEFB);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-decoration: none;
}

.footer-link {
  font-size: 1.4rem;
  padding: 0 15px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.8rem;
}

.inner-profile {
  padding: 12px;
}
